# Composer
# =========================
vendor/
composer.phar
composer.lock

# Node_modules
# =========================
node_modules/

# Vagrant
# =========================
/.vagrant

# Config files
# =========================
/config.php
/bin/

# Log files
# =========================
/logs/

# PHPUnit
# =========================
phpunit.phar
/phpunit.xml

# Codeception
# =========================
tests/_output/*
