# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# JetBrains
# =========================
.idea/

# NetBeans
# =========================
nbproject

# YII2
# =========================
yii
vendor/
runtime/

# Composer
# =========================
composer.phar
composer.lock

# Node_modules
# =========================
node_modules/

# Vagrant
# =========================
/.vagrant

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# Config files
# =========================
/config.php
/bin/